body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;

  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/*===================Container====================*/

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*===================Navigation====================*/

/* Nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: color .1s linear;
}
.nav__donation {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: color .1s linear;
}
.nav__link:hover {
  color: #81fe5b;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fce38a;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .1s linear;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
  opacity: 1;
}

.nav__link.active {
  color: #fce38a;
}

/*===============NavToggle==================*/
/* Nav toggle */
.nav-toggle {
  width: 30px;
  padding: 10px 0;
  display: none;

  font-size: 0;
  color: transparent;

  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fff;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;

  background-color: #fff;

  position: absolute;
  left: 0;
  z-index: 1;

  transition: transform .2s linear;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

/*===================Header====================*/

.header {
  width: 100%;
  padding-top: 30px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header.fixed {
  padding: 10px 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
background-color: #24205a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transform: translate3d(0, 0, 0);
}

.header.active {
  background-color: #eb8b8d;
}

.header__inner {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #515369;
}

/*===================intro====================*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  padding-top: 100px;
  background: #31344e url("./assets/images/intro-bg.jpeg") center no-repeat;

  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 65px;
  color: #fff;
  font-weight: 500;

  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 25px;
}

.intro__subtitle {
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  margin-bottom: 60px;
}

/*===================Button====================*/

.btn {
  display: inline-block;
  vertical-align: top;
  border: 0;

  cursor: pointer;

  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  padding: 15px 40px;
  border-radius: 7px;

  transition: background 0.1s linear;

  text-align: center;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #e42626;
}
.btn--green {
  background-color: #5fe426;
}

.btn--green:hover {
  background-color: #54ce20;
}
.btn--blue {
  background-color: #86d7ff;
  color: #3a3e64;
}

.btn--blue:hover {
  background-color: #65abdd;
  color: #3a3e64;

}

.btn--long {
  min-width: 280px;
}


/*===================features====================*/

.features {
  display: flex;
  margin: 95px 0;
  flex-wrap: wrap;
}

.features__item {
  width: 33.33333%;

  text-align: center;

  padding: 0 35px;
  margin: 25px 0;
}

.features__icon {
  margin-bottom: 15px;
}

.features__title {
  margin-bottom: 15px;
  font-size: 14px;
  color: #2d3033;

  font-weight: 700;
  text-transform: uppercase;
}

.features__text {
  line-height: 1.5;
  color: #6c7279;
}


/*===================Works====================*/

.works {
  display: flex;
  flex-wrap: wrap;
}


.works__item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;

  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.works__photo {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
  min-width: 100%;
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 0;
  background-color: rgba(232, 69, 69, 0.9);

  text-align: center;

  transition: opacity .2s linear;

}

.works__item:hover .works__content {
  opacity: 1;
}

.works__title {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 15px;
}

.works__text {
  color: #fff;

}

/*==================Team=================*/

.team {
  margin: 100px 0 70px 0;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team__name {
  font-size: 22px;
  color: #2d3033;
  margin-bottom: 8px;

}

.team__proof {
  font-size: 13px;
  text-transform: uppercase;
  color: #e84545;
  margin-bottom: 15px;
}

.team__text {
  line-height: 1.5;
  color: #6c7279;
  font-size: 14px;
  width: 100%;
}

/*=================Social=================*/

.social {
  display: flex;
}

.social__item {
  display: flex;
  text-decoration: none;
  color: #6c7279;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #cccccc;
  margin-right: 5px;

  transition: background .1s linear;
}

.social__item:hover {
  color: #31344e;
  background-color: #e84545;
}

.social--footer {
  justify-content: center;

}

.social--footer .social__item {
  color: white;
  background-color: transparent;

  transition: border-width .1s linear;

}

.social--footer .social__item:hover {
  border-radius: 2px;
  border-width: 2px;
  color: #000000;
  background-color: #fff;

}



/*=================download=================*/

.download {
  margin: 90px 0;
  text-align: center;
}

.download__title {
  color: #000000;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 10px;
}

.download__subtitle {
  font-size: 13px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 30px;
}



/*=================Section=====================*/

.section__header {
  text-align: center;
  widows: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
}

.section__suptitle{
  font-size: 24px;
  color: #333;
  font-family: 'Kaushan Script', cursive;;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto;


}

.section__text {
  font-size: 15px;
  color: #999;
  font-family: 'Roboto', sans-serif;
}





/*=================Reviews=====================*/


/* Reviews */
.reviews {
  position: relative;
}

.reviews .slick-slider {
  padding: 0 110px;
}

.reviews__item {
  min-height: 210px;
  padding-left: 255px;
  position: relative;
}

.reviews__photo {
  display: block;
  width: 210px;
  height: 210px;

  border: 2px solid #95e1d3;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.reviews__text {
  margin-bottom: 15px;

  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #999;
}

.reviews__author {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333;
}

.reviews__author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;

  background-color: #f38181;
}

.slick-arrow {
  display: block;
  font-size: 0;
  color: transparent;

  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.slick-arrow:focus {
  outline: 0;
}

.slick-arrow:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.slick-prev {
  left: 0;
  transform: rotate(-45deg);
}

.reviews__btn--next,
.slick-next {
  right: 0;
  transform: rotate(135deg);
}





/*=================Clients=====================*/


.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  
}

.clients__item {
  width: 50%;
  padding: 0 45px 0 175px;
  position: relative;
  margin-bottom: 60px;
}

.clients__photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1;
}

.clients__name {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.clients__prof {
  font-size: 15px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.clients__text {
  color: #999;
  font-size: 15px;
}

.clients__text:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 15px 0;
  z-index: 1;

}

/*===================footer====================*/
.footer {
  background-color: #f8f8f8;
  padding-top: 65px;
}

.footer__inner{
  padding-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer__col--first {
  width: 40%;
}

.footer_col--second {
  width: 29%;
}

.footer_col--third {
  width: 22%;
}

.footer_logo{
  font-size: 46px;
  font-weight: 700;
  color: #ccc;
  margin-bottom: 30px;
}

.footer__text {
  color: #999;
  font-size: 15px;
  margin-bottom: 30px;
}

.footer__social-header {
  font-size: 14px;
  color: black;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.footer__social-header b{
  font-size: 18px;
}

.footer__social-content {
  padding-top: 15px;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 25px;
  color: #999;
}

.footer__social-content a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #95e1d3;

  font-size: 18px;
}

.footer__title {
  margin: 30px 0;
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
  margin-bottom: 30px;
}

.footer {

  background-color: #201c5b;
  /* background-color: #3a3e64; */
}



.footer__block {
  /* width: 33%; */
  text-align: center;

  padding: 0 15px;
}

.footer__title {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__address {
  color: rgba(255, 255, 255, 0.5);

  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}
.footer__col--first{
  width: 100%;
}
.footer_col--second, .footer_col--third {
   width: 50%;
   padding-left: 15px;
}
/*instagram*/

.instagram {
  display: grid;
  grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
  column-gap: 2px;
  row-gap: 2px;
  margin-bottom: 10px;
  width: auto;
}

.instagram__item img{
  margin: 0;
  line-height: 0;
  width: 90px;
  height: 90px;
}

.more__photos a{
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color:#999;
  text-decoration: none;
}

.more__photos a:hover {
  text-decoration: underline;
}

/*=============copyright================*/

.copyright {
  background-color: #313454;
  padding: 20px 0;
}

.copyright__text {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  color: #808080
}

.copyright__text span {
  color: white;
}

/*Burger*/

.burger {
  display: none;
  background: none;
  padding: 9px 2px;
  border: 0;

  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;

  font-size: 0px;
  color: transparent;
  position: relative;


}


.burger__item::after,
.burger__item::before {

  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  z-index: 1;

  background-color: #fff;

}

.burger__item::before {
  top: -8px;
}

.burger__item::after {
  bottom: -8px;
}


/*=============Media================*/

@media (max-width: 1300px) {
  .works__item {
      width: 50%;
  }
}

@media (max-width: 1200px) {
  .intro__title {
      font-size: 40px;
  }

  /*review*/
  .reviews__text {
    font-size: 20px;
  }


}

@media (max-width: 990px) {
  .nav {
      display: none;
  }

  .burger {
      display: block;
  }

  .intro__subtitle {
      font-size: 18px;
  }

  .features__item {
      width: 50%;
  }

  .team__item {
      width: 50%;
      text-align: center;
  }

  .team__photo {
      margin-left: auto;
      margin-right: auto;
  }

  .social {
      justify-content: center;
  }

   /* Reviews */
   .reviews .slick-slider {
    padding: 0 60px;
}

.reviews__photo {
    width: 150px;
    height: 150px;
}

.reviews__item {
    padding-left: 175px;
}


   /*Clients*/

   .clients {
    max-width: 600px;
    margin: 0 auto;
}

.clients__item{
    width: 100%;
    padding-right: 0;
}

.clients__item:last-child {
    margin-bottom: 0;
}

  /*Footer*/

  .footer__col--first{
    width: 100%;
}
.footer_col--second, .footer_col--third {
     width: 50%;
     padding-left: 15px;
}


/*instagram*/ 
.instagram{
    
    max-width: 270px;
}
.instagram__item{
    max-width: 88px;
}




}

@media (max-width: 750px) {

   /* Header */
   .header {
    padding: 10px 0;
}


  /* Nav */
/* Nav */
.nav {
  display: none;
  width: 100%;

  position: absolute;
  top: 100%;
  left: 0;

  background-color: #24205a;
}

.nav.active {
  display: block;
}

.nav__link {
  display: block;
  margin: 0;
  padding: 8px 20px;
}
.nav__donation {
  display: block;
  margin: 0;
  padding: 8px 20px;
}

.nav-toggle {
  display: block;
}

  /*Intro*/
  .intro {
      height: auto;
      padding-top: 130px;
      padding-bottom: 30px;
  }

  .intro__title {
      font-size: 30px;
  }

  .intro__subtitle {
      font-size: 14px;
      margin-bottom: 30px;
  }

  .features__item {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
  }

  .features {
      margin: 40px 0;
  }

  .works__item {
      height: 300px;
      width: 100%;

  }

  .team__item {
      width: 100%;
  }

  .team {
      margin: 60px 30px;
  }
    /*Footer*/
    
    .footer__inner {
      /* padding: 70px 0; */
      display: flex;
      flex-direction: column;
      width: 100%;
      align-content:space-around
    }
    
    /*section*/
    .section__header {
      margin-bottom: 30px;
    }
    
    .section__suptitle {
       font-size: 16px;
    }
    
    .section__text p{
       padding: 0 20px;
    }
    
    .section__title {
       font-size: 20px;
    }
    
    .section__title:after {
       margin: 15px auto;
    }

        /* Reviews */
        .reviews__photo {
          position: static;
          margin: 0 auto 20px;
      }
  
      .reviews__item {
          padding-left: 0;
      }
  
      .reviews__text {
          font-size: 16px;
      }
  
      .reviews__author {
          font-size: 20px;
      }
  
}
@media (max-width: 550px) {
   /*Clients*/

   .clients__item{
    padding-left: 0;
    text-align: center;
    
}
.clients__photo{
    position: static;
}

.clients__text:before{
    margin: 15px auto;
}

/* Reviews */
.reviews .slick-slider {
  padding: 0;
}

.slick-arrow {
  top: 18%;
}


}



@media (max-width: 320px) {}
